{% extends 'C:\Users\Amisha\Desktop\SCM\manager\templates\manager\admin_homepage.html' %}

{% block sidebar %}
<ul>
    <li><a href="account.html" style="text-align:center; font-size:30px; margin-bottom:20px; margin-top:10px;">Welcome Admin!</a></li>
    <li><a href="{% url 'loginpage' %}">Databases</a></li>
    <li><a href="{% url 'adminorderspage' %}">Orders</a></li>
    <li><a class="active" href="{% url 'admincustomerpage' %}">Customers</a></li>
    <li><a href="{% url 'adminproductpage' %}">Products</a></li>
    <li><a href="{% url 'admincalendarpage' %}">Task Schedular</a></li>
    <li><a href="{% url 'contactpage' %}">Contact Us</a></li>
    <li><a href="{% url 'logoutpage' %}">Logout</a></li>
</ul>
    {% endblock sidebar %}

{% block content %}

<div>
    <!--<form action="{% url 'customerpage' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
               title="Upload excel file"
               name="excel_file"
               style="border: 1px solid black; padding: 5px;"
               required="required">
        <p>
            <input type="submit"
                   value="Upload"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>-->
    <div align="center">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter search text here.." title="Type Filter Text">
        <select id="filter" onchange="myFunction()">
            <option value="99">Filter by..</option>
            <option value="0">First Name</option>
            <option value="1">Last Name</option>
            <option value="2">City</option>
            <option value="6">SKU Number</option>
            <option value="7">Country</option>
        </select>
    </div>

    <div align="center">
        <button class="buttons" id="add_prod" onclick="add_modal()">Add Customer</button>
        <button class="buttons" id="del_prod" onclick="delete_modal()">Remove Customer</button>
        <button class="buttons" type="submit" id="advance" onclick="adv_modal()">View Detailed Report</button>

        <div id="advModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <table cellpadding="10" style="width:100%; font-size:1.2vw;">
                    <tr>
                        <th colspan="2" align="center" style="font-size:3vw;">Detailed Report For Customers</th>
                    </tr>
                    <tr>
                        <td colspan="2"><hr /></td>
                    </tr>

                    <tr style="background-color:darkslateblue; color:floralwhite;">
                        <th align="left">Total Number Of customers</th>
                        <td>{{ row_count }}</td>
                    </tr>
                    {% for key,value in country_customers.items %}
                    <tr style="color:floralwhite; background-color:darkcyan;">
                        <th align="left">Number of customers in {{ key }}:</th>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    {% for key,value in sku_cust.items %}
                    <tr style="background-color:darkslateblue; color:floralwhite;">
                        <th align="left">Number of buyers of {{ key }}:</th>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    {% for key,value in cust_pri.items %}
                    <tr style="color:floralwhite; background-color:darkcyan;">
                        <th align="left">Number of Customers With Priority {{ key }}:</th>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <form method="post" onsubmit="return add_cust_validate()" action="/employee/main/customers">
                    {% csrf_token %}
                    <h1>Add Customer</h1>
                    <p>Please fill in this form with customer details to add a customer.</p>
                    <hr>
                    <table style="width:80%; margin:50px;">
                        <tr>
                            <td><label for="f_n" style="text-align:left;"><b>First Name:</b></label></td>
                            <td><input type="text" placeholder="Enter First Name" name="f_n" id="f_n" required></td>
                        </tr>
                        <tr>
                            <td><label for="l_n"><b>Last Name:</b></label></td>
                            <td><input type="text" placeholder="Enter Last Name" name="l_n" id="l_n" required></td>
                        </tr>
                        <tr>
                            <td><label for="addr"><b>Address:</b></label></td>
                            <td><input type="text" placeholder="Enter Address" name="addr" id="addr" required></td>
                        </tr>
                        <tr>
                            <td><label for="city"><b>City:</b></label></td>
                            <td><input type="text" placeholder="Enter city" name="city" id="city" required></td>
                        </tr>
                        <tr>
                            <td><label for="con1"><b>Contact 1:</b></label></td>
                            <td><input type="number" placeholder="Enter first contact number" id="c1" name="c1" required></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="con2"><b>Contact 2:</b></label>
                            </td>
                            <td><input type="number" placeholder="Enter second contact number" id="c2" name="c2" required></td>
                        </tr>
                        <tr>
                            <td><label for="email"><b>Email:</b></label></td>
                            <td><input type="text" placeholder="Enter email" name="email" id="email" required></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sku"><b>SKU Number:</b></label>
                            </td>
                            <td><input type="number" placeholder="Enter SKU Number:" name="sku" id="sku" required></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="stat"><b>Priority Status:</b></label>
                            </td>
                            <td><input type="number" placeholder="Enter priority status" name="stat" id="stat" required></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="pdate"><b>Date of Purchase:</b></label>
                            </td>
                            <td><input type="date" placeholder="Enter date of purchase" name="pdate" id="pdate" required></td>
                        </tr>
                        <tr>
                            <td>
                                <label for="pdate"><b>Country:</b></label>
                            </td>
                            <td><input type="text" placeholder="Enter country" name="country" id="country" required></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><button type="submit" class="buttons">Add Customer</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div id="del_Modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1>Delete Customer</h1>
                <p>Please enter customer name to delete:</p>
                <hr>
                <div style="width:100%">
                    <input style="width:80%;" type="text" id="cus_name" placeholder="Enter name" required>
                </div>
                <button type="submit" class="buttons" onclick="return del_cust_validate()">Delete Customer</button>
            </div>
        </div>
    </div>

    <div style="display:inline;" align="center">
        <div>
            <table cellspacing="10" cellpadding="10" border="0" style="border-collapse:collapse; padding-right:10px; padding-left:10px;">
                <tr style='font-size:2vw; text-align:center; font-weight:bold; color:darkcyan' id="rowcount">
                    <td>
                        {{row_count}}<br />
                        <span style="font-size:1vw; font-weight:lighter;">Total Customers</span>
                    </td>
                </tr>
            </table>
        </div>
        <table id="info_table" cellpadding="5" cellspacing="5" style="text-align:left; overflow-x:auto; font-size:20px; border-collapse:collapse; margin-top:20px;" border="1">

            <tr style="color:darkslateblue;">
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Phone 1</th>
                <th>Phone 2</th>
                <th>Email</th>
                <th>SKU Number</th>
                <th>Country</th>
                <!--<th>Priority Status</th>
                <th>Purchase Date</th>-->
            </tr>

            {% for row in excel_data %}
            <tr>

                <td>{{ row.0 }}</td>
                <td>{{ row.1 }}</td>
                <td>{{ row.3 }}</td>
                <td>{{ row.4 }}</td>
                <td>{{ row.5 }}</td>
                <td>{{ row.6 }}</td>
                <td>{{ row.7 }}</td>
                <td>{{ row.10 }}</td>
                <!--<td>{{ row.8 }}</td>
                <td>{{ row.9 }}</td>-->
            </tr>

            {% endfor %}
            

        </table>

    </div>
</div>

    {% endblock content %}
